$light-blue: #007bff;
$dark-blue: #0047AB;
$background-blue: #DCE8EF;

html {
  scroll-behavior: smooth;
}

::ng-deep .p-toast-message-danger {
  background-color: #ff4d4d;
  color: white;
}

::ng-deep .secondary-button {
  background-color: #f0f0f0;
  color: #666;
  border: 1px solid #ccc;
}

::ng-deep .secondary-button:hover {
  background-color: #e0e0e0;
}

::ng-deep .p-confirm-dialog {
  @media (max-width: 500px) {
    width: 80%;
  }
}

::ng-deep .p-toast {
  @media (max-width: 500px) {
    width: 90%;
  }
}

@media (max-width: 500px) {
  body {
    display: flex;
  }
}

.invitation-page {
    background: whitesmoke;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-family: 'Poppins';

    .custom-container {
      display: flex;
      align-items: center;
      background-color: $background-blue;
      padding: 10px;
    }

    .flag {
      @media (max-width: 500px) {
        height: 60px;
      }
      height: 120px;
      border-radius: 10px;
    }

    .cover {
      img {
        width: 100%;
      }
    } 

    nav {
      @media (max-width: 500px) {
        flex-direction: column;
        text-align: right;
      }
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    a {
      @media (max-width: 500px) {
        font-size: 14px;
      }
      color: $dark-blue;
      font-size: 24px;
      text-decoration: underline;
    }

    a:hover {
      text-decoration: none;
    }

    .section {
      padding: 20px 0 0 0;
    }

    .text {
      color: $dark-blue
    }
    
    .h1 {
      @media (max-width: 500px) {
        font-size: 60px;
      }
      color: $dark-blue;
      font-family: 'Great Vibes';
      font-size: 94px;
      margin-top: 20px;
    }

    @keyframes write {
      from {
        width: 0;
      }
      to {
        width: 500px;
      }
    }

    @keyframes write_small {
      from {
        width: 0;
      }
      to {
        width: 300px;
      }
    }

    .written-text {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
      animation: write 5s steps(50, end) forwards;
    }
    
    @media (max-width: 500px) {
      .written-text {
        width: 100%;
        animation: write_small 5s steps(50, end) forwards;
      }
    }
    
    .date {
      font-size: 50px;
      color: $dark-blue;
      margin-bottom: 20px;
      font-weight: bolder;
    }

    .countdown-container {
      text-align: center;
      background-color: $background-blue;
      padding: 10px;
    }
    
    .h2 {
      color: $dark-blue;
      font-size: 34px;
      font-weight: bolder;
    }

    .countdown-area {
      display: flex;
      justify-content: center;
    }

    .countdown {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;
      border-radius: 20px;
      margin-top: 20px;
      background-color: whitesmoke;
    }

    .orange-rectangle {
      position: absolute;
      transform: translate3d(-130px, -100px, 0px);
      background-color: #f4a261b3;
      padding: 5px;
      font-weight: bold;
      font-family: 'auto';
      font-size: 24px;
    }

    .countdown-segment {
      background-color: #0033A0;
      color: #fff;
      width: 80px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 48px;
      margin: 0 5px;
    }
    
    .countdown-colon {
      font-size: 48px;
      color: #0033A0;
    }

    .video {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
    }

    .description {
      @media (max-width: 500px) {
        padding: 5px;
      }
      color: $dark-blue;
      font-size: 20px;
      padding: 20px;
    }

    .form-description {
      @media (max-width: 500px) {
        padding: 5px;
      }
      color: $dark-blue;
      font-size: 20px;
    }

    .extension {
      color: $dark-blue;
      font-size: 20px;
      font-weight: bolder;
    }

    .eventImg {
      max-width: 400px;
    }

    .map-card {
      @media (max-width: 1400px) {
        flex: 0 0 auto;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      color: $dark-blue;
      border-radius: 8px;
      width: 300px;
      background-color: whitesmoke;
      justify-content: space-between;
    }
    
    .map-card-image {
      width: 80px;
      height: 80px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
    
    .map-card-link {
      color: $dark-blue;
      text-decoration: underline;
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }
    }
    
  
    .location ul, .event {
      background-color: #0047ab94;
      margin: auto;
      padding: 20px;
      border-radius: 10px;
      margin-top: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .location {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $background-blue;
    }
    
    .location-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
    }

    .location-list {
      @media (max-width: 1400px) {
        width: 95%;
        justify-content: unset;
      }
      flex-wrap: nowrap;
      overflow-x: auto;
      padding: 10px;
      display: flex;
      gap: 40px;
      width: 80%;
      justify-content: center;
    }
    
    .location-map {
      @media (max-width: 1400px) {
        padding: 0 5%;
      }
      padding: 0 11%;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .event {
      margin-bottom: 1rem;
      text-align: left;
      
      .event-date {
        font-weight: bold;
      }
    }

    .custom-card {
      @media (max-width: 500px) {
        margin: 20px 0;
      }
      margin: 20px 10%;
    }

    .custom-marker {
      border-radius: 10px;
      padding: 5px;
    }

    .bottom-right-corner {
      position: fixed;
      right: 10px;
      bottom: 25px;
      padding: 5px;
      border-radius: 5px;
      z-index: 1000;
    }

    form {
      background-color: $background-blue;
      padding-top: 20px;

      .p-fluid {
        @media (max-width: 500px) {
          margin: 10px;
        }
        max-width: 600px;
        margin: auto;
  
        .p-field, .p-field-radiobutton {
          text-align: left;
          margin-bottom: 1rem;
  
          label, div {
            color: $dark-blue;
            font-weight: bold;
            margin-bottom: 10px;
          }
  
          input {
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.25rem;
  
            &:focus {
              border-color: #80bdff;
              outline: 0;
              box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            }
          }
  
          button:disabled {
            background-color: #6c757d;
            cursor: not-allowed;
          }
        }
  
        button {
          background-color: $dark-blue;
          color: white;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 0.25rem;
          font-size: 1rem;
          cursor: pointer;
          margin-bottom: 20px;
  
          &:hover {
            background-color: $light-blue;
          }
        }
      }
    }
  }

  :host {
    ::ng-deep {
      .p-field-radiobutton label, .p-field-checkbox label {
        color: $dark-blue;
        font-weight: bold;
      }

      .p-timeline-event-opposite {
        @media (max-width: 500px) {
          flex: unset;
        }
      }

      p-knob {
        --knob-bg-color: $dark-blue;
        --knob-handle-color: $dark-blue;
        --knob-range-color: $dark-blue;
        --knob-value-color: $dark-blue;
      }

      .p-radiobutton {
        margin-left: 10px;
        
        .p-radiobutton-box.p-highlight {
          border-color: $dark-blue;
          background-color: $dark-blue;

        }
      }

      .p-card, .p-card-subtitle {
        color: $dark-blue;
      }

      .p-card-content {
        padding: 0;
      }
      
      input::placeholder, textarea::placeholder {
        font-style: italic;
        opacity: 0.5;
      }

      .p-field-checkbox {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
      }
  
      .p-field label {
        color: $dark-blue;
        font-weight: bold;
      }
  
      textarea[pInputTextarea] {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
      
        &:focus {
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
      }
      
      .p-radiobutton .p-radiobutton-label, .p-checkbox .p-checkbox-label {
        vertical-align: middle;
        margin-left: 0.5rem;
      }
    }
  }
  
  