<div class="invitation-page">
  <h1>POBIERAMY SIĘ!</h1>
  <div class="written-text">
    <h2>Julia & Krystian</h2>
  </div>
  <p class="date">09.05.2025</p>
  <div class="date">
    Do ślubu pozostało: {{ countdown?.days }} dni {{ countdown?.hours }} godzin {{ countdown?.minutes }} minut {{ countdown?.seconds }} sekund
  </div>
  <p class="description">
    Mamy zaszczyt zaprosić Was na nasze wesele, które odbędzie się w pięknej Grecji. Będzie nam niezmiernie miło gościć Was w tym wyjątkowym dniu!
  </p>
  <div class="video" [innerHtml]="safeUrl"></div>

  <section class="location">
    <h3>Co i jak?</h3>
    <div class="location-content">
      <div class="location-list">
        <div *ngFor="let item of mapItems" class="map-card">
          <div [style.background-image]="'url(' + item.icon + ')'" class="map-card-image"></div>
          <h3 class="map-card-headline">{{ item.name }}</h3>
          <p class="map-card-description">{{ item.description }}</p>
          <a [href]="item.url" class="map-card-link">Poczytaj więcej</a>
        </div>
      </div>
      <div class="location-map">
        <app-map-component></app-map-component>
      </div>
    </div>
  </section>
  
  <section class="schedule">
    <h3>Harmonogram</h3>
    <div class="card">
      <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
          <ng-template pTemplate="marker" let-event>
              <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                  <i [ngClass]="event.icon"></i>
              </span>
          </ng-template>
          <ng-template pTemplate="content" let-event>
              <p-card [header]="event.status" [subheader]="event.date">
                  <img *ngIf="event.image" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + event.image" [alt]="event.name" width="200" class="shadow-2" />
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                      neque quas!
                  </p>
              </p-card>
          </ng-template>
      </p-timeline>
  </div>
    
  </section>
  <div class="bottom-right-corner">
    <p-knob [(ngModel)]="presentCount" [readonly]="true" [max]="userCount"></p-knob>
    <div class="text">Aktualna liczba gości</div>
  </div>
  <section>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">
        <div class="form-label">Potwierdzenie przybycia</div>
        <div class="form-header">Drodzy Goście, bardzo prosimy o potwierdzenie przybycia do dnia <b>07.02.2025r</b>. Aby ułatwić Wam potwierdzenie przybycia, przygotowaliśmy dla Was poniższy formularz. Dziękujemy za wypełnienie go i mamy nadzieję do zobaczenia!</div>
        <div style="margin-top: 10px;" class="p-field-radiobutton">
          <div for="presence">Obecność</div>
          <p-radioButton name="presence" value="true" formControlName="presence" label="Będę!"></p-radioButton>
          <p-radioButton name="presence" value="false" formControlName="presence" label="Niestety nie mogę :("></p-radioButton>
        </div>
        <div class="p-field">
          <label for="name">Imię</label>
          <input id="name" type="text" pInputText formControlName="name" maxlength="30" pKeyFilter="alpha">
        </div>
        <div class="p-field">
          <label for="surname">Nazwisko</label>
          <input id="surname" type="text" pInputText formControlName="surname" maxlength="30" pKeyFilter="alpha">
        </div>
        <div class="p-field">
          <label for="phoneNumber">Telefon</label>
          <input type="text" pInputText formControlName="phoneNumber" pKeyFilter="pint" maxlength="13">
        </div>
        <div class="p-field">
          <label for="allergies">Alergie</label>
          <input id="allergies" type="text" placeHolder="Mleko, bakłażan" pInputText maxlength="100" formControlName="allergies">
        </div>
        <div class="p-field-radiobutton">
          <div for="menuPreference">Preferencje menu</div>
          <p-radioButton name="menuPreference" value="any" formControlName="menuPreference" label="Obojętne"></p-radioButton>
          <p-radioButton name="menuPreference" value="vegetarian" formControlName="menuPreference" label="Wegetariańskie"></p-radioButton>
          <p-radioButton name="menuPreference" value="vege" formControlName="menuPreference" label="Wege"></p-radioButton>
          <p-radioButton name="menuPreference" value="meat" formControlName="menuPreference" label="Mięsne"></p-radioButton>
        </div>
        <div class="p-field">
          <label for="message">Wiadomość</label>
          <textarea id="message" formControlName="message" rows="5" placeHolder="Będzie super, nie mogę się doczekać! :)" maxlength="300" pInputTextarea></textarea>
        </div>
        
        <button type="submit" pButton label="Zapisz" [disabled]="!userForm.valid"></button>
      </div>
    </form>
    
  </section>
</div>
