<div class="invitation">
    <div></div>
    <div class="content">
        <h2 style="margin: 0;">Ślub Dajewskich</h2>
        <div class="details">Piątek, 9 Maja, 16:00</div>
        <div class="details">Villa Merika</div>
        <div class="container">
            <div class="btn" (click)="navigate()">
                <span class="material-symbols-outlined">check_circle</span>
                Dodaj do kalendarza
            </div>
            <div class="bordered"></div>
            <div class="btn looksDisabled">
                <span class="material-symbols-outlined">
                    self_improvement
                    </span>
                Dodam samemu
            </div>
        </div>
    </div>
</div>
